body{
    width: 1300px;
    background-color: #252525;
}

input:read-only { 
    background-color: #E3E3E3;
}

#registrationArea {
    width: 300px;
    height: 550px;
}

#userListArea {
    width: 950px;
    height: 550px;
}

fieldset {
    height: 100%;
    background-color: #303130;
    color: white;
}

#registrationArea fieldset span, #registrationArea input {
    text-align: center;
}

#registrationArea input, #registrationArea span, #registrationArea button, #calculateButton {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding: 10px 0px 10px 0px;
    font-size: 16px;
}

#calculateButton{
    height: 40px;
}

#registrationArea, #userListArea {
    float: left;
}

#sortByNameButton:hover, #sortByAgeButton:hover {
    cursor: pointer;
}

#filterArea {
    height: 40px;
    padding-top: 10px;
    padding-left: 640px;
}

#userList {
    text-align: center;
}

#userList thead {
    background-color: #202020;
    color: white;
}

#userList thead tr th:nth-child(1), #userList tbody tr td:nth-child(1) {
    padding: 0px;
    width: 80px;
}

#userList thead tr th:nth-child(2), #userList thead tr th:nth-child(3), #userList thead tr th:nth-child(4), #userList thead tr th:nth-child(5), #userList thead tr th:nth-child(6) {
    padding: 10px 0px 10px 0px;
    width: 150px;
}

#userList tbody tr td:nth-child(2), #userList tbody tr td:nth-child(3), #userList tbody tr td:nth-child(4), #userList tbody tr td:nth-child(5), #userList tbody tr td:nth-child(6) {
    padding: 10px 0px 10px 0px;
    width: 150px;
}

#userList thead tr th:nth-child(7), #userList tbody tr td:nth-child(7) {
    padding: 10px 0px 10px 0px;
    width: 70px;
}

#userList input {
    width: 140px;
}

#tableDIV{
    width: 100%;
    height: calc(100% - 110px);
    overflow: auto;
    background-color: #272822;
    overflow-x:scroll;
}

#userList tbody tr:nth-child(odd) {
    background: #2F3129;
}

.sortingIcon{
    width: 15px;
    height: 15px;
    padding-left: 5px;
}